option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
  aws:elasticbeanstalk:application:environment:
    APP_ENV: prod
    APP_DEBUG: false
    DATABASE_URL: "pgsql://username:password@host:port/dbname"

commands:
  01-composer-install:
    command: "composer install --no-dev --optimize-autoloader"

  02-cache-clear:
    command: "php bin/console cache:clear"

  03-assets-install:
    command: "php bin/console assets:install public"
